.nav-link {
    text-decoration: none;
    color: black;
}

.active {
    background-color: #E2E4EF !important;

}

.loginImage {
    background-image: url("../../public/login.jpg");
}

.pending {
    color: aqua;
}