div.ql-tooltip.ql-editing {
    left: 0 !important;
    z-index: 9999;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 1200px !important;
}

.question-content img {
    max-width: 100%; /* Зменшуємо розмір зображення, щоб воно вміщалося в контейнер */
}

.question-numbering {
    font-weight: bold;
    color: blue;
    /* Додайте інші стилі за бажанням */
}

.answer-numbering {
    font-weight: bold;
    color: red;
    /* Додайте інші стилі за бажанням */
}

