div.ql-tooltip.ql-editing {
    left: 0 !important;
    z-index: 9999;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
    max-width: 1200px !important;
}

.question-content img {
    max-width: 100%; /* Зменшуємо розмір зображення, щоб воно вміщалося в контейнер */
}

.quill {
    background-color: white;
}
.ql-editor {
    min-height: 150px;
}

/*.css-1n8qzo8-MuiTableCell-root {*/
/*    padding: 0px !important;*/
/*}*/


.quill {
    background-color: white;
}
.ql-editor {
    min-height: 150px;
}

/*.css-1n8qzo8-MuiTableCell-root {*/
/*    padding: 0px !important;*/
/*}*/

